<html>
<head>
	<title><%= title %></title>
	<style type="text/css" media="screen">@import "/stylesheets/styles.css";</style>
</head>
<body>
	<div id="container">
		<%= yield %>
	</div>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("UA-2519578-6");
				pageTracker._trackPageview();
			} catch(err) {}
		</script>
</body>
</html>	