<html>
<head>
	<title>MUSIC</title>
	<script type="text/javascript" src="/scripts/soundmanager2.js"></script>
	<script type="text/javascript" src="/scripts/page-player.js"></script>
	<script type="text/javascript">
		soundManager.url = '/';
	</script>
	<style type="text/css" media="screen">@import "/stylesheets/styles.css";</style>
	<style type="text/css" media="screen">@import "/stylesheets/page-player.css";</style>
</head>
<body>
	<div id="container">
		<%= yield %>
	</div>
</body>
</html>	