* {
	margin: 0px;
	padding: 0px;
}
body {
	margin-right: 2;
	margin-top: 2;
	background-color: #fff;
}
div#album {
	margin-top: 1.5em;
	font-size: 14px;
	float: right;
	width: 190px;
	z-index: 1;
}

div#album img {
	border-right: 2px solid #aaa;
	border-bottom: 2px solid #aaa;
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
}

div#album p {
	margin: 0.5em 0 0 0;
	padding: 0 0 0 5px;
}
div#album p span.label {
	display: block;
	float: left;
	clear: left;
	font-weight: bold;
	width: 43pt;
}
div#container {
	margin-right: 259px;
	padding-top: 1em;
	background-color: #fff;
/*	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
*/}
div#container ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

div#container ul li {
	position:relative;
	display: block;
	width: auto;
	font-family: sans-serif;
	font-size: 10pt;
	color: #666;
	padding: 0.25em 0.5em 0.25em 0.5em;
	border: none;
	background-color:#f9f9f9;
	-webkit-transition-property: hover;
	-webkit-transition: background-color 0.15s ease-in-out;
}

div#container ul li:nth-of-type(1) {
	margin-top: 1em;
}

div#container ul li:nth-of-type(odd) {
	background-color: #f1f5fa;
}

div#container ul li a {
	display: block;
	text-decoration: none;
	font-weight: normal;
	color: #000;
	font-size: 120%;
	outline: none;
	position: relative;
	z-index: 2;
	text-shadow: 0 0 0 #fff; /* stupid Safari "fat" font rendering tweak */
}

div#container ul li:hover {
	background-color: #ddd;
}

div#container ul li:hover a {
	color: #333;
}

div#container p#back {
	position: absolute;
	top: 0.25em;
	left: 0.75em;
}