* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #fff;
	color: #000;
	font-size: 27px;
	line-height: 36px;
	font-family: sans-serif;
}

div#container {
	margin: 18px;
}

ul {
	list-style-type: none;
}

ul li {
	color: #666;
	padding: 0.25em 0.5em 0.25em 0.5em;
	border: none;
	background-color:#f9f9f9;
	-webkit-transition-property: hover;
	-webkit-transition: background-color 0.15s ease-in-out;
}

ul li:nth-of-type(odd) {
	background-color: #f1f5fa;
}

ul li a {
	display: block;
	text-decoration: none;
	font-weight: normal;
	color: #000;
	outline: none;
	position: relative;
	z-index: 2;
	text-shadow: 0 0 0 #fff; /* stupid Safari "fat" font rendering tweak */
}

ul li:hover {
	background-color: #ddd;
}

ul li:hover a {
	color: #333;
}

p#back {
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 9px;
}